.coast {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__main {
    font-size: 1.2em;

    &--discount {
      color: rgb(240, 87, 87);
    }
  }

  &__date {
    color: #aaa;
  }

  &__old {
    text-decoration: line-through;
    color: #aaa;
    font-size: 0.9em;
  }
}
